@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #FFF;
}
p{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

header {

   max-width: 1200px;
   width: 90%;
  height: 40px;
  left: 80px;
  top: 78px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:60px 0 45px;

}
#hero-subtitle{
  width:70%;
  font-size:16px;
  font-family: 'Poppins', sans-serif;
  max-width:1200px;
}
#hero-title{
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
 
}
#hero-mockup{
  width:100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
#hero-btn{
 margin-bottom: 80px;
}

#hero {
  width: 90%;
  max-width: 1200px;
  height: 1157px;
  left: 212px;
  top: 343px;
  margin: 225px auto 0 auto;
  text-align: center;
}
#header-btn{
  color: #FF52C1;
  border: 2px solid;
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 0 1px;
  background-color: #FFF;
}
#header-btn:hover{
 color:#FF52C1;
  transition: all 0.3s ease;
  opacity: 50%;
}
#hero>p{
  height: 90px;
  width: 600px;
  margin: 26px auto 49px auto;
}
#diagram{ 
   display: flex; 
  justify-content: space-around;
  width: 100%;
  height: 220px;
  margin: 0 auto 100px;
}
.diagram-item>h3{
  font-size:60px;
  font-family: 'Poppins', sans-serif;

}
.diagram-item>p{
  font-size:20px;
}
.features{
     display: flex;
    justify-content: space-around;
      padding: 110px 0;
    
}
.grow-together{
  margin:auto;
  width:100%;
  max-width:1200px;
  height: 560px;
  background-color: #F4FAFF;
}
.flowing-conversation{
  margin: auto;
  max-width:1200px;
  width:100%;
  height: 560px;
  
}
.your-users{
  margin: auto;
  width:1200px;
  height: 560px;
  background-color:#F4FAFF;

}
.description{
  height: 158px;
  width: 520px;
  padding: 110px 0;
}
.description-title{
  font-size:32px;
  margin-bottom: 14px;
  font-weight: bold;

}
.illustration-img{
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}
.cta{
  margin: 60px auto;
  width:90%;
  max-width:1200px;
  text-align: center;
}
.cta>h2{
  font-size: 32px;
}

.btn{
   background-color: #FF52C1;
  border-radius: 30px;
  border: 2px solid;
  padding: 16px 30px;
  margin-top: 30px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
 color: #FFFFFF; 
display: inline-block;
text-decoration: none;
}
.btn:hover{
  background: transparent;
  background-color:#FF52C1 ;
  transition: all 0.3s ease;
  opacity: 50%;

}

.footer-section{
  display: flex;
  background-color: #00242D;
  color: #FFFFFF;
}
.footer-contact{
  display: flex;
  margin: 30px auto;
}
.footer-container{
  width: 50%;
  max-width:350px;
  margin-bottom: 30px;
  letter-spacing:2px;
}
#footer-btn{
color: #FFFFFF;
background-color:#FF52C1;
font-family: 'Open Sans';
border-radius: 4px;
padding:10px 40px;
font-size:16px;
height:45px;
}
#footer-btn:hover{
  background-color:#FF52C1 ;
  transition: all 0.3s ease;
  opacity: 50%;
 
}
#footer-form{
  margin-top: 20px;
}
#email{
  height: 47px;
  border-radius: 4px;
  margin-right: 10px;
}
.socials{
  margin-right: 10px ;
}
.contact-img{
  margin-right: 20px;
  
}
.footer-heading{
  margin-bottom: 50px;
  
} 
#footer-title{
font-size:24px;
font-family: 'Poppins', sans-serif;
font-weight:bold;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #diagram{
    width:100%;
    flex-direction: row;
  }
  .diagram-item{
   width:100%; 
  }
  .footer-section{
    flex-direction: row;
  }
}